:root {
    --nav-text: #4a4747;
    --body-text-color: #2d2d2d;
    --bg-color: hsl(0, 0%, 100%);
    --bg-color-second: #e4e4e4;
    --nav-bg: rgba(221, 216, 216, 0.639);
    --box-shadow: 0 0 6px rgba(0, 0, 0, 0.412);
    --i-color: #000;
    --i-bg: #fff;
    --memo-shadow: #000;
    --job-title-bg: #e6e3e3ce;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
}

html {
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: var(--bg-color);
    scroll-behavior: smooth;
}

nav {
    z-index: 2;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    background: var(--nav-bg);
    box-shadow: var(--box-shadow);
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

nav ul li {
    height: 60px;
}

nav ul li a {
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    color: var(--nav-text);
    display: flex;
    align-items: center;
    gap: 5px;
}

nav ul li:first-child {
    margin-right: auto;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.menu {
    font-weight: bold;
    font-size: 1.2rem;
}

.menu_btn {
    display: block;
}

.sidebar {
    z-index: 998;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    backdrop-filter: blur(10px);
    background: var(--nav-bg);
    box-shadow: var(--box-shadow);
    display: none;
    gap: .5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar_close i {
    width: auto;
    padding: .3rem;
    border: 2px solid;
    border-radius: 50%;
}

.sidebar li,
a {
    width: 100%;
    text-decoration: none;
    color: var(--body-text-color);
}

hr {
    margin: .5rem;
}

.social_heading {
    font-size: 1.5rem;
    color: var(--nav-text);
    margin-left: 1rem;
}

.sidebar_links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

/* THEME TOGGLE CSS Started */

#theme_toggle {
    z-index: 999;
    border: none;
    border-radius: 50%;
    padding: 1.2rem;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    box-shadow: 0 0 5px var(--i-color);
    position: fixed;
    bottom: 3%;
    right: 2%;
    background: var(--i-color);
}

#theme_toggle i {
    color: var(--i-bg);
    text-shadow: 0 0 10px var(--i-bg);
}

#theme_toggle i:last-child {
    display: none;
}

.darkmode #theme_toggle i:first-child {
    display: none;
}

.darkmode #theme_toggle i:last-child {
    display: block;
}

/* THEME TOGGLE CSS Closed */


/* Media Queries Start */

@media(max-width: 700px) {
    .hideOnMobile {
        display: none;
    }

    .sidebar .sidebar_links {
        width: 100%;
    }
    .certs{
        flex-direction: column;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }

    nav ul li:first-child {
        font-size: 1rem;
        letter-spacing: normal;
    }
}

/* Media Queries Done */
p {
    color: var(--body-text-color);
}

.mainPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: default;
}

.memoji {
    height: 150px;
    width: 150px;
    margin-top: 3rem;
    filter: drop-shadow(0 0 10px var(--memo-shadow));
    animation: memoji 1.5s ease-in infinite alternate;
}

@keyframes memoji {
    from {
        transform: translateY(-.2rem);
    }
}

.greeting {
    padding: .5rem;
    margin: 1rem 0;
    border-radius: 50px;
    font-weight: bolder;
    color: var(--body-text-color);
    border: 2px solid var(--body-text-color);
    letter-spacing: 2px;
}

.myName {
    font-size: 1.8rem;
    color: var(--body-text-color);
    font-family: "Finger Paint", sans-serif;
}

.jobTitle {
    padding: 1rem;
    margin-top: 1rem;
    letter-spacing: 1px;
    border-radius: 3px;
    color: var(--body-text-color);
    color: var(--body-text-color);
    background: var(--job-title-bg);
}

.scrollDown {
    color: var(--body-text-color);
    font-size: 2rem;
    margin-top: 3rem;
    animation: updown 2s ease infinite alternate;
}

@keyframes updown {
    from {
        transform: translateY(-1rem);
    }
}

section {
    word-wrap: wrap;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.sectionone {
    padding: 1.5rem 1rem;
    color: var(--body-text-color);
    background: var(--bg-color-second);
    box-shadow: var(--box-shadow);
}

.aboutMe {
    margin: 1rem 0;
}

hr {
    padding: 0;
    margin: 0;
    width: 6%;
}

.sectiontwo {
    padding: 1.5rem 1rem;
    color: var(--body-text-color);
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
}
.container1,.container2,.container3,.container4,.container5{
    margin: 1rem;
}
.skillsImg{
    width: 60px;
    height: 60px;
}
.certs{
    display: flex;
    list-style: none;
    gap: 3rem;
    align-items: center;
}
.certs a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container5 a{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}